<div class="container">
  <div class="row">
    <div class="col-md-10">
      <div class="panel panel-warning">
        <div class="panel-heading">
      <h2 class="panel-title">Comment # {{ index}}<span (click)="removeComment($event)" style="float:right; cursor: pointer" class="glyphicon glyphicon-remove" aria-hidden="true"></span></h2>
       </div>
        <div class="panel-body">
          <p>{{ comment }}</p>
          <!-- TODO Add the posibility of deleting a comment with a cross -->
          <!-- TODO finish the comment edit part -->
        </div>
      </div>
    </div>

  </div>
  </div>